# IntelliJ / Android Studio
.idea/
*.iml

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Spring Boot / Gradle
backend/.gradle/
backend/build/
backend/out/

# OS
.DS_Store
Thumbs.db